<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    <!-- Head
	============================================= -->
    <%- include ('../partials/head'); %>
    <!-- #head end -->

    <!-- Document Title
	============================================= -->
    <title>GS1 - HISTORICOS</title>
  </head>

  <body class="stretched">
    <!-- Document Wrapper
	============================================= -->
    <div id="wrapper">
      <!-- Header
		============================================= -->
      <%- include ('../partials/header'); %>
      <!-- #header end -->

      <!-- Content
		============================================= -->
      <section id="content">
        <div class="content-wrap">
          <div class="container">
            <div class="d-flex justify-content-center align-items-center pb-5">
              <div class="col-2">
                <hr class="m-0" />
                <br />
                <hr class="m-0" />
              </div>
              <div class="col-8 section_div-bienvenido text-center">
                VALOR CARTERA
              </div>
              <div class="col-2">
                <hr class="m-0" />
                <br />
                <hr class="m-0" />
              </div>
            </div>

            <!---->
            <div class="row justify-content-center mt-5">
              <div class="col-12">
                <ul class="nav canvas-tabs tabs nav-tabs justify-content-center mb-3" role="tablist">
                  <li class="nav-item" role="presentation" style="padding: 0; font-size: 0.8rem;">
                    <button class="nav-link active rounded-top" id="canvas-home-tab" data-bs-toggle="pill" data-bs-target="#gral" type="button" role="tab" aria-controls="canvas-home" aria-selected="true"><i class="fa-solid fa-bullseye"></i> General</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link rounded-top" id="canvas-profile-tab" data-bs-toggle="pill" data-bs-target="#serv" type="button" role="tab" aria-controls="canvas-profile" aria-selected="false"><i class="fa-solid bi-passport-fill"></i> Cartera por servicio</button>
                  </li>
                </ul>
              </div>
            </div>
            <!---->
            <div id="canvas-TabContent" class="tab-content">
              <div class="tab-pane fade show active" id="gral" role="tabpanel" aria-labelledby="canvas-gral" tabindex="0">
                <div class="row" style="text-align: center;">
                  <!-- Filtros -->
                  <%- include ('../partials/filters'); %>

                  <div class="col-lg-12">
                    <br />
                    <br />
                    <br />
                    <br />
                  </div>
                  <div class="col-lg-12 text-end">
                    <hr class="div-hr_border mt-5">
                    <div class="col-lg-1 text-center" style="float: inline-end;">
                      <button id="filterButton" type="submit" class="btn bg_primary_orange color_primary_gray_light dropdown-toggl pt-2 pb-2"> Filtrar</button>
                    </div>
                  </div>

                  <div class="col-lg-12 mt-5 p-0">
                    <table class="table text-center table-borde" id="tabla-metas-anual">
                      <thead>
                        <tr>
                          <th class="py-3 bg_primary_blue color_primary_gray_light fw-bold" colspan="4" id="titulo-th">
                            GENERAL
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="py-4 fw-bold fs-1" id="datos-user" colspan="2">
                            <!-- Contenido dentro del td con colspan=2 -->
                            <span style="color: #00286e">VC TOTAL: </span><span style="color:#ff632d" id="span-vc-total">$ 191,510.00</span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <!-- Descarga -->

                  <hr class="div-hr_border mt-5" />
                  
                </div>
              </div>

              <div class="tab-pane fade" id="serv" role="tabpanel" aria-labelledby="canvas-serv" tabindex="0">
                <div class="row" style="text-align: center;">
                  <!-- Filtros -->
                  <%- include ('../partials/filtersS'); %>

                  <div class="col-lg-12">
                    <br />
                    <br />
                    <br />
                    <br />
                  </div>
                  <div class="col-lg-12 text-end">
                    <hr class="div-hr_border mt-5">
                    <div class="col-lg-1 text-center" style="float: inline-end;">
                      <button id="filterButtonMem" type="submit" class="btn bg_primary_orange color_primary_gray_light dropdown-toggl pt-2 pb-2"> Filtrar</button>
                    </div>
                  </div>

                  <div class="col-lg-12 mt-5 p-0">
                    <table class="table text-center table-borde" id="tabla-metas-anual">
                      <thead>
                        <tr>
                          <th class="py-3 bg_primary_blue color_primary_gray_light fw-bold" colspan="4" id="titulo-th">
                            VALOR CARTERA CÓDIGO
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="py-4 fw-bold fs-1" id="datos-user" colspan="2">
                            <!-- Contenido dentro del td con colspan=2 -->
                            <span style="color: #00286e">VC TOTAL: </span><span style="color:#ff632d" id="span-vc-codigo">$ 191,510.00</span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  
                  <div class="col-lg-12 mt-5 p-0">
                    <table class="table text-center table-borde" id="tabla-metas-anual">
                      <thead>
                        <tr>
                          <th class="py-3 bg_primary_blue color_primary_gray_light fw-bold" colspan="4" id="titulo-th">
                            VALOR CARTERA CATÁLOGO
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="py-4 fw-bold fs-1" id="datos-user" colspan="2">
                            <!-- Contenido dentro del td con colspan=2 -->
                            <span style="color: #00286e">VC TOTAL: </span><span style="color:#ff632d" id="span-vc-catalogo">$ 191,510.00</span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <div class="col-lg-12 mt-5 p-0">
                    <table class="table text-center table-borde" id="tabla-metas-anual">
                      <thead>
                        <tr>
                          <th class="py-3 bg_primary_blue color_primary_gray_light fw-bold" colspan="4" id="titulo-th">
                            VALOR CARTERA LEI
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="py-4 fw-bold fs-1" id="datos-user" colspan="2">
                            <!-- Contenido dentro del td con colspan=2 -->
                            <span style="color: #00286e">VC TOTAL: </span><span style="color:#ff632d" id="span-vc-lei">$ 191,510.00</span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <!-- Descarga -->

                  <hr class="div-hr_border mt-5" />
                  <div class="col-lg-12 d-flex mt-5 p-0">
                    <div class="col-lg-6">
                      <span>El archivo está listo para generar el reporte.</span>
                      <div class="btn-group ps-3">
                        <a
                          type="button"
                          class="btn bg_primary_blue color_primary_gray_light"
                          aria-haspopup="true"
                          aria-expanded="false"
                          id="download_file"
                        >
                          GENERAR
                        </a>
                      </div>
                    </div>
                    <div class="col-lg-6 text-end">
                      <div id="container_loader_file" style="display: none">
                        <span>El archivo está listo para la descarga.</span>
                        <div class="btn-group ps-3">
                          <a
                            type="button"
                            class="btn bg_primary_orange color_primary_gray_light"
                            aria-haspopup="true"
                            aria-expanded="false"
                            id="dwnf"
                          >
                            DESCARGAR
                          </a>
                        </div>
                      </div>
                      <div class="overlay-file" style="display: none">
                        <div class="spinner-border" role="status">
                          <span class="visually-hidden">Loading...</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </section>
      <!-- #content end -->

      <!-- Footer
		============================================= -->
      <%- include ('../partials/footer'); %>
      <!-- #footer end -->
    </div>
    <!-- #wrapper end -->

    <!-- Scripts
	============================================= -->
    <%- include ('../partials/scripts'); %>
    <script src="js/scripts/cartera.js"></script>
    <!-- #Scripts end -->
  </body>
</html>
